body {
  margin: 0;
  padding: 0;
  overflow: hidden;  
}

html, body, #map {
  height: 100%;
  width: 100%;
  
  background-color: rgb(28,28,28);
}

svg {
  stroke: white;
  stroke-width: 15px;
}

.edges .last {
  stroke-opacity: 0.4;
  stroke-dasharray: 15, 15;  
}

circle {
  fill: rgba(0, 0, 0, 0);
}