<!DOCTYPE html>
<html>
<head>    
    <title>Talking Data</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<link rel="stylesheet" href="/static/leaflet.css" />
	<link rel="stylesheet" href="/static/style.css" />
	<script src="/socket.io/socket.io.js"></script>
	<script src="/static/jquery-1.8.0.min.js"></script>
	<script src="/static/leaflet.js"></script>
</head>
<body >
	<div id="map"></div>
	<script>
	

		{{#datasets}}
		// TileStache
		var {{name}} = new L.tileLayer('http://localhost:8080/{{name}}/{z}/{x}/{y}.png');
		
		// TileMill
		//var {{name}} = new L.tileLayer('http://{{localhost}}:20008/tile/{{name}}/{z}/{x}/{y}.png', {transparent: true});
		
		/*
		// Geoserver:
		var {{name}} = new L.tileLayer.wms("{{wms}}", {
		    layers: 'picnic:{{name}}',
		    format: 'image/png',
		    transparent: true			
		});
		*/
		
		//{{name}}.setOpacity(0.25);
		{{/datasets}}
		
		{{#hasCategories}}
		var {{name}}_1 = new L.tileLayer('http://localhost:8080/{{name}}_1/{z}/{x}/{y}.png');
		{{/hasCategories}}
		
		var layers = [
			{{#datasets}}
			{{name}},
	    	{{/datasets}}
		];
		
		{{#hasCategories}}
		layers.push({{name}}_1);
		{{/hasCategories}}

		var layersByName = new Array();
		{{#datasets}}
			layersByName["{{name}}"] = {{name}};
    	{{/datasets}}

		{{#hasCategories}}
		layersByName["{{name}}_1"] = {{name}}_1;
		{{/hasCategories}}
		
		//bbox = noordwest, zuidoost
		bbox = "{{area.bbox}}".split(",");
		var northWest = [bbox[0], bbox[1]];
		var southEast = [bbox[2], bbox[3]];
				
		var southWest = new L.LatLng(southEast[0], northWest[1]),
		    northEast = new L.LatLng(northWest[0], southEast[1]),
		    bounds = new L.LatLngBounds(southWest, northEast);
	
		var map = new L.map('map', {
			center: [52.36887860450021, 4.894505739212036],
			zoom: 14,
			layers: [],
			fadeAnimation: false,
			zoomAnimation: true,
			minZoom: 13,
			maxZoom: 16,
			inertia: false
			//maxBounds: bounds
		});		
				
		map.removeControl(map.zoomControl);
		map.removeControl(map.attributionControl);
			
	</script>
	<script>
		$(document).ready(function () {
			
			var toggleSocket = io.connect("http://{{localhost}}:{{port}}/toggle");
			toggleSocket.on("server", function (data) {
				if ('visible' in data) {
					layerString = data.layer;
					layer = layersByName[layerString];
					data.visible ? map.addLayer(layer) : map.removeLayer(layer);
				}
				if ('category' in data) {
					layerString = data.layer;
					layerStringCategory = data.layer + "_1";
					
					layer = layersByName[layerString];
					layerCategory = layersByName[layerStringCategory];
					
					if (layerCategory) {
						data.category ? map.removeLayer(layer) : map.addLayer(layer);
						data.category ? map.addLayer(layerCategory) : map.removeLayer(layerCategory);
					}
				}
			});
			
			var moveSocket = io.connect("http://{{localhost}}:{{port}}/move");	
			moveSocket.on("server", function (data) {
				map.panTo(data.center);
				map.setZoom(data.zoom);
			});			
			
		});
	</script>
</body>
</html>